@using ShortLink.Domain.ViewModels.Link
@using ShortLink.Application.Utils
@model List<AllLinkViewModel>
@{
    ViewData["Title"] = "داشبورد";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">@ViewData["Title"]</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
     
    </div>
</div>

@if (Model != null && Model.Any())
{
    <table class="table table-hover">
        <thead>
            <tr>
                <th>URL اصلی</th>
                <th>توکن ایجاد شده</th>
                <th>لینک کوتاه شده</th>
                <th>تاریخ ایجاد لینک</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var link in Model)
            {
                <tr>
                    <td>@link.OrginalUrl</td>
                    <td>@link.Token</td>
                    <td>@link.Value</td>
                    <td>@link.CreateDate.ToShamsi()</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning">
        <p>هیچ موردی وجود ندارد</p>
    </div>
}

